<link rel="stylesheet" href="/stylesheets/footer.css">
<footer>
    <div class="copyright">
      <p>&copy 2021 - Challenge</p>
    </div>
    <div class="social">
      <a href="#" class="support">Contactenos</a>
      <a href="#" class="face">f</a>
      <a href="#" class="tweet">t</a>
      <a href="#" class="linked">in</a>
    </div>
  </footer>