<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %> 
  <body background="/images/background-img.jpg">
    <%- include('./partials/navbar.ejs') %>
    <%- include('./partials/body.ejs') %> 
    <%- include('./partials/foooter.ejs') %> 
    
  </body>
</html>
