<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %> 
  <body background="/images/background-img.jpg">
    <%- include('./partials/navbar.ejs') %>
    <main >
      <section>
        
        
      </section>


    </main>
    
    
  </body>
</html>
