<!DOCTYPE html>
<html lang="en">

	<%- include('./partials/head.ejs') %> 
	<link rel="stylesheet" href="/stylesheets/login.css">
<body >
    <%- include('./partials/navbar.ejs') %>
	<main>
        <form action="/users/login" method = "POST"> 
            <h1>Inicio de Sesion</h1>
            <div class="inset">
            <p>
              <label for="email">Direccion de Mail</label>
              <input type="text" name="email" id="email">
            </p>
            <p>
              <label for="password">Contraseña</label>
              <input type="password" name="password" id="password">
            </p>
            <p>
              <input type="checkbox" name="remember" id="remember">
              <label for="remember">Recordar contraseña</label>
            </p>
            </div>
            <p class="p-container">
              <span>Olvidaste la contraseña</span>
              <input type="submit" name="go" id="go" value="Log in">
            </p>
          </form>
    </main>
		<%- include('./partials/foooter.ejs') %>
</html>